<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>NOTION GOD</title>
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
	<script src="{{ url_for('static', filename='js/index.js') }}"></script>
</head>
<body>
	<div id="form-wraper">
		<h1 id="title-logo">NOTION GOD</h1>
		<form action="/page" method="get">
			notion_url : <input id="url-input" type="text" name="notion_url">
			<input id="submit-button" type="submit" value="페이지 만들기">
		</form>
	</div>
</body>
</html>